.details-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #4c4dcb;
}

.film-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.film-director,
.film-decade,
.film-country {
  font-size: 16px;
  margin-bottom: 8px;
}

.film-about {
  font-size: 18px;
  margin-bottom: 12px;
}
