ul {
  display: flex;
  padding: 2rem;

  margin: 1rem;

  background-color: #1c1a1d;

  p {
    font-size: medium;
  }
}

@media (min-width: 400px) {
  ul {
    display: flex;
    justify-content: space-around;
    gap: 0.7rem;
  }
}
