.container-create-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #1c1a1d;
}
.create-form {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../../../formcontainer.png') center/cover no-repeat;
  width: 550px;
  height: 550px;
}
.form-create-tittle {
  font-family: Kanit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #e0d4bd;
}

input {
  width: 200px;
  height: 51px;
  padding: 1rem;
  margin-top: 0.5rem;
}
