footer {
  background-color: #1c1a1d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 2rem;

  img {
    margin-right: 25px;
    margin-bottom: 4rem;
  }
  .footer-letter {
    padding: 40rem;
  }
}
