.container-login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #1c1a1d;
}

.login-form {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../../../formcontainer.png') center/cover no-repeat;
  width: 400px;
  height: 400px;
}

input {
  width: 200px;
  height: 40px;
  margin-top: 3rem;
  border-radius: 20px;
  padding: 8px;
  border: 3px solid #ccc;
}
.login-buttons-container {
  padding: 3rem;
}
